# The Cardano node service (part of systemd)
# file: /etc/systemd/system/cardano-relay-node.service 

[Unit]
Description     = Cardano relay node service
Wants           = network-online.target
After           = network-online.target 

[Service]
User            = %u
Type            = simple
WorkingDirectory= %h
ExecStartPre=-/usr/bin/docker stop cardano-relay-node
ExecStartPre=-/usr/bin/docker rm cardano-relay-node
ExecStartPre=/usr/bin/docker pull kitsunecrypto/cardano-node
ExecStart       =/usr/bin/docker run --rm --name=cardano-relay-node -v cardano_node:/cardano-node-home -p 6000:6000 -p 3001:3001 -e NODE_CONFIG=<NODE_CONFIG> -e RELAY_IP=<RELAY_IP> -e BLOCK_PRODUCER_IP=<BLOCK_PRODUCER_IP> -e NODE_TYPE=relay kitsunecrypto/cardano-node ./startRelayNode1.sh
KillSignal=SIGINT
#RestartKillSignal=SIGINT
TimeoutStopSec=2
LimitNOFILE=32768
Restart=always
RestartSec=5
SyslogIdentifier=cardano-relay-node

[Install]
WantedBy	= multi-user.target